@keyframes loading {
  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(1turn);
  }
}

@keyframes success-mark {
  0%{
    font-size: 3vw;
  }
  50%{
    font-size: 5vw;
  }
  100%{
    font-size: 3vw;
  }
}

.active-backdrop {
  background-color: rgba(66, 66, 66, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 90;
}

#modal{
  background-color: var(--color-primary);
  /* height: 100px;
  width: 100px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
  padding: 10px;
  display: flex;
  align-items: center;
}

#tk-amount{
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  padding: 5px;
  color: white;
  text-align: center;
}

#tk-amount::placeholder{
  color: rgb(177, 177, 177);
}

#btn-buy-tk{
  padding: 5px;
  background-color: rgb(49, 195, 49);
  /* width: 50%; */
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 8px 2px var(--color-secondary);
}

#btn-buy-tk:active{
  background-color: white;
  color: rgb(49, 195, 49);
}

#close-modal{
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

#close-modal:active{
  background-color: white;
  color: red;
}

#input-file{
  padding: 5px;
  cursor: pointer;
  display: flex; 
  border: 2px solid var(--color-neon);
  border-radius: 10px;
  align-items: center;
}

#input-file span{
  font-size: 2vw;
  margin-left: 5px;
}

.active-upload{
  color: rgb(49, 195, 49);
  background-color: rgb(26, 106, 26);
  border: 2px solid rgb(49, 195, 49) !important;
}

#cid-sender:active{
  border: 2px solid white !important;
  color: white;
}

#loading{
  animation: loading 1s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3vw;
}

#success-check{
  color: rgb(49, 195, 49);
  font-size: 3vw;
  animation: success-mark 2s ease-in-out;
}

#error-check{
  color: red;
  font-size: 3vw;
}