* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  --color-primary: #341636;
  --color-secondary: #6186b0;
  --color-dark-blue: #021526;
}

body {
  /* min-width: 320px;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
}

.dashboard {
  position: absolute;
  /* display: flex; */
  width: 100vw;
  background-color: rgb(171, 131, 78);
  height: 100vh;
}