* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--color-text);
  /* --color-primary: #042847;
  --color-secondary: #6186b0; */
  --color-dark-blue: #021526;
  --color-neon: aqua;

  --color-bg: #121317;
  --color-transparent-bg: #12131782;
  --color-primary: #212226;
  --color-border: #272B2E;
  --color-text: #9FA0A4;
  --color-emphasis-d: #1f1241;
  --color-emphasis-b: #fff;
  --color-btn: #3D4C53;
  --color-btn-text: #C8E3DA;
  --color-btn-buy-active: ;
  --color-red: #BE2A2A;
  --color-coin: #EFAE16;
  --color-confirm: rgb(96, 224, 41);

  --color-stable-black: #000;
}

html{
  background-color: var(--color-bg);
}

body {
  /* min-width: 320px;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  min-width: 215px;
  overflow: hidden;
}

#root{
  display: flex;
  position: relative;
  min-width: 215px;
}

/* .dashboard {
  position: absolute;
  width: 100vw;
  background-color: rgb(171, 131, 78);
  height: 100vh;
} */

.hold-nft-boxes {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 75vh;
  overflow-y: auto;
}

#markdown-container {
  border-left: 5px solid var(--color-text);
  border-right: 5px solid var(--color-text);
  text-align: center;
}

#markdown-container ul {
  list-style-type: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pad-left-2{
  padding-left: 2px;
}

.mg-b-5{
  margin-bottom: 5px;
}

.mg-l-5{
  margin-left: 5px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-pattern{
  outline: none;
  border-radius: 10px;
  border: 2px solid var(--color-text);
  background-color: var(--color-primary);
  padding: 5px;
  color: var(--color-emphasis-b);
  text-align: center;
}

.input-pattern::placeholder{
  color: var(--color-text);
}

.pointer{
  cursor: pointer;
}

.btn{
  padding: 5px;
  cursor: pointer;
  display: flex; 
  border: 2px solid var(--color-btn-text);
  border-radius: 10px;
}