* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: var(--color-neon);
  --color-primary: #042847;
  --color-secondary: #6186b0;
  --color-dark-blue: #021526;
  --color-neon: aqua;
}

html{
  background-color: var(--color-primary);
}

body {
  /* min-width: 320px;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  min-width: 215px;
  overflow: hidden;
}

#root{
  display: flex;
  position: relative;
  min-width: 215px;
}

/* .dashboard {
  position: absolute;
  width: 100vw;
  background-color: rgb(171, 131, 78);
  height: 100vh;
} */

.hold-nft-boxes {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 75vh;
  overflow-y: auto;
}

#markdown-container {
  border-left: 5px solid var(--color-secondary);
  border-right: 5px solid var(--color-secondary);
  text-align: center;
}

#markdown-container ul {
  list-style-type: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pad-left-2{
  padding-left: 2px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

