@keyframes coin-turn {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.nft-box {
  position: relative;
  min-height: 270px;
  min-width:  270px;
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px solid var(--color-text);
}

.hold-price-info{
  display: flex;
  cursor: pointer;
  justify-content: right;
}

.nft-hold-price{
  color: gold;
  font-weight: bold;
  padding-left: 2px;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.tk-symbol{
  background-image: url('./assets/cartoon-symbol-tk.png');
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  animation: coin-turn 2s infinite linear;
  margin-top: 2px;
}

.about-nft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: var(--color-transparent-bg);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  /* border: 2px solid var(--color-neon); */
  transform-origin: 50% -50%;
  scale: 0;
  font-size: 0.8rem;
}

.nft-box:hover .about-nft {
  transition: all 0.3s ease-in-out;
  scale: 1;
}

.nft-item-title {
  color: var(--color-emphasis-b);
}

.btnBuy{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-emphasis-b);
  background: var(--color-primary);
  color: var(--color-emphasis-b);
  display: flex;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px var(--color-emphasis-b);
  transition: all 0.5s ease-in-out;
}

/* .btnBuy:hover{
  box-shadow: 0px 0px 0px 0px var(--color-emphasis-b);
  border: 1px solid var(--color-emphasis-b);
  background: var(--color-primary);
  color: var(--color-emphasis-b);
  padding: 12px;
  font-size: 1.1rem;
} */


@media only screen and (max-width: 703px){
  .nft-box{
    min-height: 200px;
    min-width:  200px;
  }
}


